*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $color-bg;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
